<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086575968957-p3cbopie4e4ac43dbsnto5s6bot9q7fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086575968957-p3cbopie4e4ac43dbsnto5s6bot9q7fo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086575968957-2rgnpg1d939kso7on1hemg2867s4pfq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2GlV4QR342gbdlQjk8bVoTxqp0whcfTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1086575968957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.Magento2V4Theme</string>
	<key>PROJECT_ID</key>
	<string>libral-159506</string>
	<key>STORAGE_BUCKET</key>
	<string>libral-159506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086575968957:ios:2f09d475bc5df7cc</string>
	<key>DATABASE_URL</key>
	<string>https://libral-159506.firebaseio.com</string>
</dict>
</plist>