<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:dev.libraltraders.com</string>
		<string>applinks:https://dev.libraltraders.com</string>
		<string>applinks:https://www.libraltraders.com</string>
		<string>applinks:www.libraltraders.com</string>
		<string>applinks:libraltraders.com</string>
		<string>applinks:https://zendesk</string>
	</array>
</dict>
</plist>
